.footer{
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background: #E8D3BF;
}

.footer .logo{
  text-align: center;
  margin:auto;
  align-items: center;
  padding-top: 8px;

}

.footer .logo img{
  width: 30px;
  height: auto;
}



@media screen and (max-width:640px){
  .footer{
    grid-template-columns: 1fr;
  }
}
